<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="permissionResultMap" type="com.hutu.entity.Permission">
        <id column="id" property="id"/>
        <result column="parentId" property="parentId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="typeShow" property="typeShow"/>
        <result column="permissionValue" property="permissionValue"/>
        <result column="path" property="path"/>
        <result column="uri" property="uri"/>
        <result column="component" property="component"/>
        <result column="redirect" property="redirect"/>
        <result column="alwaysShow" property="alwaysShow"/>
        <result column="noCache" property="noCache"/>
        <result column="breadcrumb" property="breadcrumb"/>
        <result column="icon" property="icon"/>
        <result column="status" property="status"/>
        <result column="statusShow" property="statusShow"/>
        <result column="sort" property="sort"/>
        <result column="createName" property="createName"/>
        <result column="createId" property="createId"/>
        <result column="createTime" property="createTime"/>
        <result column="updateName" property="updateName"/>
        <result column="updateId" property="updateId"/>
        <result column="updateTime" property="updateTime"/>
        <result column="isDeleted" property="isDeleted"/>
    </resultMap>


    <select id="selectPermissionPage" resultMap="permissionResultMap">
        select * from upms_permission where isDeleted = 0
    </select>

</mapper>
