<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="roleResultMap" type="com.hutu.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="statusShow" property="statusShow"/>
        <result column="orders" property="orders"/>
        <result column="createName" property="createName"/>
        <result column="createId" property="createId"/>
        <result column="createTime" property="createTime"/>
        <result column="updateName" property="updateName"/>
        <result column="updateId" property="updateId"/>
        <result column="updateTime" property="updateTime"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="orgId" property="orgId"/>
    </resultMap>


    <select id="selectRolePage" resultMap="roleResultMap">
        select * from upms_role where isDeleted = 0
    </select>

</mapper>
