<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sysLogResultMap" type="com.hutu.entity.SysLog">
        <id column="id" property="id"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="username" property="username"/>
        <result column="startTime" property="startTime"/>
        <result column="spendTime" property="spendTime"/>
        <result column="basePath" property="basePath"/>
        <result column="uri" property="uri"/>
        <result column="className" property="className"/>
        <result column="method" property="method"/>
        <result column="parameter" property="parameter"/>
        <result column="userAgent" property="userAgent"/>
        <result column="ip" property="ip"/>
        <result column="result" property="result"/>
        <result column="permissions" property="permissions"/>
    </resultMap>


    <select id="selectSysLogPage" resultMap="sysLogResultMap">
        select * from sys_log where isDeleted = 0
    </select>

</mapper>
