<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.mapper.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tenantResultMap" type="com.hutu.entity.Tenant">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="createName" property="createName"/>
        <result column="createId" property="createId"/>
        <result column="createTime" property="createTime"/>
        <result column="updateName" property="updateName"/>
        <result column="updateId" property="updateId"/>
        <result column="updateTime" property="updateTime"/>
        <result column="isDeleted" property="isDeleted"/>
    </resultMap>


    <select id="selectTenantPage" resultMap="tenantResultMap">
        select * from upms_tenant where isDeleted = 0
    </select>

</mapper>
