<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.mapper.UserOrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userOrganizationResultMap" type="com.hutu.entity.UserOrganization">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="organizationId" property="organizationId"/>
        <result column="createId" property="createId"/>
        <result column="createTime" property="createTime"/>
    </resultMap>


    <select id="selectUserOrganizationPage" resultMap="userOrganizationResultMap">
        select * from upms_user_organization where isDeleted = 0
    </select>

</mapper>
